# Include the source files
include zsins/src/*py

# Include the data files
include zsins/data/*json

# Include the configuration files
include zsins/config/*ini

# Include only the resources folder
include zsins/resources/__init__.py

# Particular includes
include README.md
include .gitignore

[project.gui-scripts]
zsins = "zsins:main"